<h2>This is <%= @iguana.name.upcase %> the iguana</h2>


<h2>VITAL IGUANA DETAILS</h2>
<table>
	<tr>
		<th>Attribute</th>
		<th>VITAL INFORMATION</th>
	</tr>
	<tr>
		<td>Name</td>
		<td><%= @iguana.name.upcase %>
	</tr>
	<tr>
		<td>Age</td>
		<td><%= @iguana.age %>
	</tr>
	<tr>
		<td>Color</td>
		<td><%= @iguana.color.upcase %>
	</tr>
	<tr>
		<td>Sex</td>
		<td><%= @iguana.sex.upcase %>
	</tr>
	<tr>
		<td>Birthdate</td>
		<td><%= @iguana.birth_date %>
	</tr>
</table>

<h2>REQUESTS FOR THE IGUANA</h2>
<table>
	<tr>
		<th>IDENTIFICATION OF THE REQUEST</th>
		<th>DATE OF START</th>
		<th>DATE OF END</th>
		<th>DECISION OF THE IGUANA</th>
	</tr>
	<% @requests.each do |request| %>
	<tr>
		<td><%= request.id%></td>
		<td><%= request.start_date%></td>
		<td><%= request.end_date%></td>
		<td><%= request.status%></td>
		<% if request.status == "PENDING" && is_owner?%>
			<td><%= button_to "Approve",
				approve_iguana_house_cleaning_request_url(request), :method => :post %>
			</td>
			<td><%= button_to "Deny",
				deny_iguana_house_cleaning_request_url(request), :method => :post %>
			</td>
		<% end %>

	</tr>
	<% end %>
</table>

<%= link_to "EDIT THE IGUANA", edit_iguana_url(@iguana)%>
