<!DOCTYPE html>
<html>
<head>
  <title>TheIguanas</title>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash[:notices].try(:each) do |msg| %>
	  <%= msg %>
	<% end %>


	<% if logged_in? %>
		<h2>WELCOME <%= @current_user.user_name.upcase %>!!!!!!</h2>
		<%= button_to "Log Out", session_url(current_session), :method => :delete %>
	<% else %>
		<h2>GO SIGN IN NOW</h2>new
		<%= link_to "Sign In", new_session_url %>
	<% end %>

<%= yield %>

</body>
</html>
